@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');


:root{
    --kkRed: #e30f00;
    --kkGreen : #50CB93;
    --extraBold : 800;
    --semiBold: 600;
}

/* costum-css */
.extra-bold{
  font-weight: var(--extraBold);
  font-size: 50px;
}

.semi-bold {
  font-weight: var(--semiBold);
}

.costum-pad {
  padding-top: 30px;
}

body {
  font-family: 'Nunito Sans', sans-serif !important;
}

/* scroll-bar */

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--kkRed);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--kkRed);
  }


/* header */

/* penutup header */


.bg-primary-color-kk {
    background-color: var(--kkRed);
}

.text-primary-color-kk {
    color: #e30f00;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}


/* TOTAL */
#total-container {
  background-color: var(--kkRed);
  width: 100%;
}

#checkout {
  background-color: var(--kkGreen);
  border: none;
}

/* DASHBOARD */
#dashboard {
  font-weight: 600;
}

@media only screen and (max-width: 768px){
  .extra-bold{
    font-weight: var(--extraBold);
    font-size: 35px;
  }
  .dashboard-img-pc {
    display: none;
  }
}

@media only screen and (min-width: 768px){
  .dashboard-img-web {
    display: none;
  }
}



